<%= button_to "Back to Listings", listings_path, method: "get", :class => "btn btn-outline-success"  %><br>
<h1><%= @listing.title %></h1>
<small>Posted by: <%= @listing.user.username %></small>
<br><br>
<p><%= @listing.description %></p>
<%= button_to "Make Bid", new_listing_bid_path(@listing), method: "get", :class => "btn btn-outline-success" %>
<div class="btn-group">
    <%= button_to "Edit Listing", edit_listing_path(@listing), method: "get", :class => "btn btn-outline-secondary" %>
    <%= button_to "Delete Listing", listing_path(@listing), method: "delete", :class => "btn btn-outline-danger" %>
</div>