<%= button_to "Back to Listing", listing_path(@listing), method: "get", :class => "btn btn-outline-success"  %><br>
<h1>Bid for: <%= @listing.title %></h1>
<small>by: <%= link_to @bid.user.username, user_path(@bid.user) %></small>
<br><br>
<p>$<%= @bid.amount %></p>
<p><%= @bid.message %></p>
<% if owns_bid? %>
    <div class="btn-group">
        <%= button_to "Edit Bid", edit_listing_bid_path(@listing, @bid), method: "get", :class => "btn btn-outline-secondary" %>
        <%= button_to "Delete Bid", listing_bid_path(@listing, @bid), method: "delete", :class => "btn btn-outline-danger" %>
    </div>
<% end %>