<h1><%= @user.username %></h1>
<br>
<div class="btn-group">
    <%= button_to "Message #{@user.username}", "/users/#{@user.id}/message", method: "get", :class => "btn btn-outline-success" %>
    <%= button_to "Leave a Review", new_user_review_path(@user), method: "get", :class => "btn btn-success" %>
</div>
<br><br>
<h5><%= @user.username %>'s Skills:</h5>
<ul>
    <% @user.skills.each do |s| %>
        <li><%= s.name %></li>
    <% end %>
</ul>
<hr>
<% @user.reviews.each do |r| %>
    <small>Review from <%= r.author %>:</small>
    <p><%= r.comment %></p>
    <hr>
<% end %>